<div class="container">
  <form>
    <div class="form-group">
        <label for="searchInput">Enter Search Terms</label>
        <input type="text" class="form-control" id="searchInput" name="searchInput" required #searchInput>
    </div>
    <button type="submit" class="btn btn-success" (click)="search(searchInput.value)">Submit</button>
  </form>
</div>
<div class="container-fluid pt-5">
  <div class="row">
      <app-wiki [searchTerm]="searchTerm" class="col-3"></app-wiki>
      <app-giphy [searchTerm]="searchTerm" class="col"></app-giphy>
  </div>
</div>

